.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: calc(10px + 2vmin);
    text-align: center;
    color: white;
    position: sticky;
    top: 0;
  }
  .title{
    font-weight: bolder;
    font-size: 30px;
  }